name: "Barcode Buddy (Python)"
version: "2.0.10"
slug: "barcodebuddy-python"
description: "Python-based Barcode Scanner with Grocy integration"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
init: false

# USB-Scanner Zugriff
devices:
  - "/dev/input:/dev/input:rwm"

udev: true
full_access: true
apparmor: false
host_ipc: true
host_pid: true
privileged:
  - SYS_ADMIN
  - SYS_RAWIO

ports:
  "5000/tcp": 5000

webui: "http://[HOST]:[PORT:5000]"
ingress: true
ingress_port: 5000
ingress_entry: "/"

options:
  scanner_device: "/dev/input/event3"
  grocy_url: ""
  grocy_api_key: ""
  debug: false

schema:
  scanner_device: str
  grocy_url: str
  grocy_api_key: str
  debug: bool
