name: "Barcode Buddy (Python) (beta)"
version: "2.9.3-beta"
slug: "barcodebuddy-python"
description: "Python-based Barcode Scanner with Grocy integration"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: application
boot: auto
init: false

# USB-Scanner Zugriff - Multiple scanners supported!
devices:
  - "/dev/input:/dev/input:rwm"
  - "/dev/hidraw0:/dev/hidraw0:rwm"
  - "/dev/hidraw1:/dev/hidraw1:rwm"
  - "/dev/hidraw2:/dev/hidraw2:rwm"
  - "/dev/hidraw3:/dev/hidraw3:rwm"
  - "/dev/hidraw4:/dev/hidraw4:rwm"

udev: true
full_access: true
apparmor: false
host_ipc: true
host_pid: true
privileged:
  - SYS_ADMIN
  - SYS_RAWIO

ports:
  "5000/tcp": 5000

webui: "http://[HOST]:[PORT:5000]"
ingress: true
ingress_port: 5000
ingress_entry: "/"

options:
  grocy_url: ""
  grocy_api_key: ""
  debug: false
  barcode_add: "BBUDDY-ADD"
  barcode_consume: "BBUDDY-CONSUME"
  barcode_quantity_prefix: "BBUDDY-Q-"
  enable_openfoodfacts: true
  enable_eansearch: true
  enable_upcdatabase: true

schema:
  grocy_url: str
  grocy_api_key: str
  debug: bool
  barcode_add: str
  barcode_consume: str
  barcode_quantity_prefix: str
  enable_openfoodfacts: bool
  enable_eansearch: bool
  enable_upcdatabase: bool
